@use "../../common";

.home {
  .top {
    height: 80vh;
    display: flex;
    margin-top: 100px;
    .picture {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      .img {
        position: relative;
        &::after {
          content: "";
          width: 350px;
          height: 350px;
          top: -10px !important;
          left: -10px;
          background-color: common.$lightGreen;
          position: absolute;
          border-radius: 50%;
          z-index: -2;
          border: 3px solid common.$darkGreen;
          backdrop-filter: blur(5px);
          -webkit-animation: 4s linear 0s infinite alternate move_eye;
          -moz-animation: 4s linear 0s infinite alternate move_eye;
          -o-animation: 4s linear 0s infinite alternate move_eye;
          animation: 4s linear 0s infinite alternate move_eye;
        }
        img {
          border-radius: 50%;
          border: 3px solid white;
          width: 350px;
          height: 350px;
        }
      }
    }
    .welcome {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 50px;
      text-align: center;
      h1 {
        font-size: 48px;
        color: common.$lightGreen;
        text-shadow: 2px 0px 20px common.$darkGreen;
      }
      p {
        font-size: 18px;
        color: common.$darkGreen;
        text-shadow: 2px 1px 50px white;
        line-height: 1.8;
      }
    }
  }
  .posts {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 150px;
    .post {
      display: flex;
      gap: 100px;
      &:nth-child(2n + 1) {
        flex-direction: row-reverse;
      }
      .img {
        flex: 2;
        position: relative;
        &::after {
          content: "";
          width: 100%;
          height: 230px;
          max-height: 250px;
          background-color: common.$lightGreen;
          position: absolute;
          top: 20px;
          left: -20px;
          z-index: -2;
        }
        img {
          width: 100%;
          height: 230px;
          max-height: 250px;
          object-fit: cover;
        }
      }
      .content {
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        gap: 20px;
        h2 {
          font-size: 48px;
          color: common.$lightGreen;
        }
        p {
          font-size: 16px;
        }
        button {
          width: max-content;
          padding: 10px 20px;
          border: none;
          cursor: pointer;
          background-color: white;
          border: 1 px solid common.$lightGreen;
          transition: all 0.5s ease;
          &:hover {
            background-color: common.$darkGreen;
            color: common.$lightGreen;
            transition: all 0.5s ease;
          }
        }
      }
    }
  }
}
@-webkit-keyframes move_eye {
  from {
    margin-left: -20px;
    top: -20px;
    width: 350px;
    height: 400px;
    transform: rotate(10deg);
  }
  to {
    margin-left: 20px;
    width: 400px;
    height: 350px;
    top: 20px;
    transform: rotate(200deg);
  }
}
@-moz-keyframes move_eye {
  from {
    margin-left: -20px;
    width: 350px;
    height: 400px;
    top: -20px;
    transform: rotate(10deg);
  }
  to {
    margin-left: 20px;
    width: 400px;
    height: 350px;
    top: 20px;
    transform: rotate(200deg);
  }
}
@-o-keyframes move_eye {
  from {
    margin-left: -20px;
    width: 350px;
    height: 400px;
    top: -20px;
    transform: rotate(10deg);
  }
  to {
    margin-left: 20px;
    width: 400px;
    height: 300px;
    top: 20px;
    transform: rotate(200deg);
  }
}
@keyframes move_eye {
  from {
    margin-left: -20px;
    width: 350px;
    height: 450px;
    top: -20px;
    transform: rotate(10deg);
  }
  to {
    margin-left: 20px;
    width: 400px;
    height: 350px;
    top: 20px;
    transform: rotate(200deg);
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .home {
    .top {
      margin-top: 350px;
      flex-direction: column;
      gap: 70px;
      overflow: hidden;
    }
    .posts {
      gap: 50px;
      .post {
        flex-direction: column !important;
        .content {
          h1 {
            font-size: 30px;
          }
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .home {
    .top {
      margin-top: 350px;
      flex-direction: column;
      gap: 70px;
    }
    .posts {
      .post {
        flex-direction: column !important;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
}
